<!-- EDIT WELCOME EMAIL HERE -->

<%= image_tag attachments['logo.png'].url %>
<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">Dear <%= @customer.shipping_name %></p>
<h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 36px; line-height: 1.2; color: #000; font-weight: 200; margin: 40px 0 10px; padding: 0;">Welcome to <%= @content[:name] %>!</h1>

<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
  I would like to take just a brief moment to absolutely welcome you to our growing family network here at <%= @content[:name] %>!
</p>

<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
  I am so proud to share that every member of our vast family network is shouting the praises of the <%= @content[:name] %> Tablet program, and I am sure that you will join us in our march to encourage, develop, and change the world of <%= @content[:disorder] %> as a whole by giving us your precious feedback, stories of change and possibly a shoulder to lean on for a family member in need.
</p>

<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
We stand united in our cause to not only help our kiddos learn, play, and find joy but make YOU and YOUR experience as the loving parent of a child in need the most rewarding as well! Look forward to many unique and valuable apps and resources coming down the pike that will cater both to your child’s greater good and your personal development and satisfaction for only $29.95 per month.
</p>

<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
Sincerely,
</p>

<p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
  The <%= @content[:name] %> Family<br>
</p>
